NODE_ENV=development
PORT=5000
API_VERSION=v1
CLIENT_URL=http://localhost:5173
MONGODB_URI=mongodb://127.0.0.1:27017/hms
MONGODB_DB_NAME=hms
MONGODB_AUTH_DB_NAME=hms_auth
BETTER_AUTH_SECRET=change-me-better-auth-secret
BETTER_AUTH_URL=http://localhost:5000
BCRYPT_SALT_ROUNDS=12
